extends layout
block content
	include ./nav.jade
	div.reg-container
		div
			div.form-group
				label(for="username").col-sm-2.control-label 用户名：
				div.col-sm-10
					input(type="text",placeholder="请输入用户名")#username.form-control
			div.form-group
				label(for="passworld1").col-sm-2.control-label 密码：
				div.col-sm-10
					input(type="text",placeholder="请输入密码")#passworld.form-control
			div.form-group
				div.col-sm-offset-2.col-sm-10
					button(type="submit")#login-submit.btn.btn-primary 登陆
	script(src='./javascripts/login-submit.js')
	