div(role='navigation')#microblog-nav.navbar.navbar-default
	div.container-fluid
		div.navbar-header
			a(href='#').navbar-brand microblog
		div
			ul.nav.navbar-nav
				li.active
					a(href='#') 首页
				li
					a(href='#') 登陆
				li
					a(href='#') 注册
			