div(role='navigation')#microblog-nav.navbar.navbar-default
	div.container-fluid
		div.navbar-header
			a(href='#').navbar-brand microblog
		div
			ul.nav.navbar-nav
				- for(var i = 0; i < tabs.length; i ++)
					- var active = tabs[i]==activeTab
					li(class=active?'active':'')
						a(href='#') #{tabs[i]}
			