extends layout
block content
	include ./nav.jade
	div.reg-container
		div.form-horizontal
			div.form-group
				label(for="username").col-sm-2.control-label 用户名：
				div.col-sm-10
					input(type="text",placeholder="请输入用户名")#username.form-control
			div.form-group
				label(for="passworld1").col-sm-2.control-label 密码：
				div.col-sm-10
					input(type="text",placeholder="请输入密码")#passworld1.form-control
			div.form-group
				label(for="passworld2").col-sm-2.control-label 验证密码：
				div.col-sm-10
					input(type="text",placeholder="请输入密码")#passworld2.form-control
			div.form-group
				div.col-sm-offset-2.col-sm-10
					button#reg-submit.btn.btn-primary 注册
	script(src='./javascripts/reg-submit.js')
	